* {
    margin: 0;
    padding: 3px;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(fon.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90% 30%;
}
h1 {
    font-size: 20px;
    color: #fff;
    font-family: emoji;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
    color: #fff;
    backdrop-filter: blur(20px);
    border-radius: 30px;
}

aside {
    position: relative;
    left: -20px;
    top: -10px;
    float: left;
    background: transparent;
    /* backdrop-filter: blur(10px); */
    width: -15%;
    padding: 5%;
    color: #fff;
    border-right: 3px solid #4d4d4d;
    flex-wrap: wrap;
    height: 100vh;
}
aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
    font-family: emoji;
}
aside .glavmenu {
    list-style: none;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 100px;
    text-align: center;
}aside .glavmenu li {
    color: rgb(255, 255, 255);
    display: block;
    margin-top: 20px;
    margin-left: -5px;
    transition: all .5s ease;
    font-size: 30px;
    text-align: center;
}
aside .glavmenu a {
    display: block;
    border-radius: 20px;
    background: #4d4d4d;
}
aside ul li:hover, aside .glavmenu a:hover {
    color: #71B095;
    text-decoration: none;
    transform: scale(1.05);
}
footer {
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    background: transparent;
    /* прижать footer к низу */
    position: absolute;
    bottom: 0;
    width: 100%;
}
