{% extends 'main/base.html' %}

{% block title %}Главная страница 2{% endblock %}

{% block content %}
<ul class='list-arts'>
{% comment %} {% for p in posts %} {% endcomment %}
<p>{{posts.title}}</p>
{% if posts.photo%}
<p><img class='img-article-left' src="{{posts.photo.url}}"></p>
{% endif %}
{{posts.content|linebreaks}}
</ul>
<style>
    ul.list-arts {
        color: #fff;
        font-size: 20px;
        backdrop-filter: blur(20px);
        border-radius: 30px;
        font-family: emoji;
    }
    img.img-article-left {
        max-width: 300px;
        height: auto;
        float: left;
        padding: 0 10px 10px 0;
    }
    
    img.img-article-left.thumb {
        max-width: 150px;
        height: auto;
    }    
</style>
{% endblock %}