{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<ul class='list-arts'>
    {% for p in posts %}
        <li>
        <h2>{{p.title}}<br><img src="{{p.photo.url}}"></h2>
        {{p.content|linebreaks|truncatewords:30}}
        <p class="link-read-post"><a href="{% url 'arts' p.pk %}">Подробнее</a></p>
        <hr>
        </li>
        
        
        <footer>
            <small>
                <nav class="list-pages">
                    <ul>
                {% if page_obj.has_previous %}
                <li class="page-num">
                    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                </li>
                {% endif %}
                
                        {% for p in paginator.page_range %}
                        {% if page_obj.number == p %}
                        <li class="page-num page-num-selected">{{ p }}</li>
                        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                        <li class="page-num">
                            <a href="?page={{ p }}">{{ p }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
        
        
                {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
            </ul>
        </nav>
              </small>
            </footer>      
        
        
        
        <style>
            img {width:300px; height:auto;}
            p, h2 {color: #fff; font-family: emoji; font-size:20px;}
            .list-arts {backdrop-filter:blur(5px);}

            p.link-read-post {
                text-align: right;
                color:#fff;
                font-size: 30px;
            }
            p.link-read-post a {
                position: relative;
                top: -5px;
                padding: 5px;
                border-radius: 7px;
                min-width: 100px;
                background: #71B095;
                color: #fff;
                text-decoration: none; 
                font-size: 25px;
                transition: 0.5s;
            }
             p.link-read-post a:hover{
                /* font-size: 20px; */
                color: #71B095;
                background: #fff;
                background: transition;
                text-decoration: none;
                transform: scale(0.02);
                transition: 0.5s;
                border-radius: 15px;
            }
            
        </style>
    </script>
    {% endfor %}    
</ul>
{% endblock %}