{% load static %}

<link rel="stylesheet" href="{% static 'main/css/logostyle.css' %}">

{% block content %}
<h1>{{title}}</h1>

<form method="post">
    {% csrf_token %}
<div class="wrapper">
    <h1>Вход</h1>
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <div class="input-box">
        <p><label class="form_label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    </div>
    <div class="input-box">
        <div class="form-error">{{ f.errors }}</div>
    </div>
    {% endfor %}
        <button type="submit" class="btn"><a href="{% url 'home' %}"></a>Войти</button><br>
    <a href="{% url 'register' %}">Зарегестрироваться</a>
</div>
</form>
</div>
<style>
    a {
        color: #71B095;
        text-decoration: underline;
    }
</style>
{% endblock %}